<section>

  <h1>Voting</h1>

  <div class="instructions">
    <p>
      Please vote for every category and press the floating button.
    </p>
    <p>
      You can only vote in one category for one team.
    </p>

  </div>
  <div class="team-list">
    <mat-accordion>
      <mat-expansion-panel *ngFor="let team of teams$ | async">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{team.name}}

            <app-label *ngIf="hasTeamVote(team.id)" [text]="getVoteTextForTeam(team.id)"></app-label>
          </mat-panel-title>


        </mat-expansion-panel-header>
        <p>
          {{ team.description }} <br>

          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
          eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient
          montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque
          eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo,
          fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut,
        </p>
        <mat-action-row>
          <button mat-stroked-button (click)="onVotePitch(team.id)">Pitch 🕺</button>
          <button mat-stroked-button (click)="onVoteTechnology(team.id)">Technology 🤖</button>
          <button mat-stroked-button (click)="onVoteWtf(team.id)">WTF 🤪</button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</section>

<button *ngIf="!showSpinner" mat-fab class="fab-button" (click)="onSave()">
  <mat-icon>save</mat-icon>
</button>
<mat-spinner *ngIf="showSpinner" class="fab-button" [diameter]="60"></mat-spinner>
