<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>Vote for your favorite team:</h1>
</div>
<mat-expansion-panel *ngFor="let item of teams$ | async">
  <mat-expansion-panel-header>
    <mat-panel-title>
        {{item.name}}
    </mat-panel-title>
    <mat-panel-description>
        {{ item.description }}
        
    </mat-panel-description>
   
  </mat-expansion-panel-header>
  <mat-action-row>
      <button mat-flat-button color="primary" (click)="onAddTeam()">Technology</button>
      <button mat-flat-button (click)="onAddTeam()">Pitch</button>
      <button mat-flat-button (click)="onAddTeam()">WTF</button>
      <mat-chip-list>
          <mat-chip color="primary" >Technology</mat-chip>
        </mat-chip-list>
    </mat-action-row>
</mat-expansion-panel>
<button mat-flat-button color="primary" (click)="onAddTeam()">add team</button>

<router-outlet></router-outlet>
